<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trayectorium.nombre %>
</p>

<%= link_to 'Edit', edit_trayectorium_path(@trayectorium) %> |
<%= link_to 'Back', trayectoria_path %>
